@import "tailwindcss";

@theme {
  --color-app-100: #0e0c15;
  --color-app-200: #14111e;
  --color-app-300: #1a1626;
  --color-app-400: #451f7a;
  --color-app-500: #8b55d8;
  --color-app-550: #b783ff;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
